In [1]:
# Libraries
import mysql.connector 
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")
from sqlalchemy import create_engine 
import pymysql 
from dotenv import load_dotenv
import os

load_dotenv()

True

## Database Creation

In [8]:
# Load environment variables from .env file
user = os.getenv("db_user")
password = os.getenv("db_password")
host = os.getenv("db_host")
port = os.getenv("db_port")

# Connect to MySQL server
mydb = mysql.connector.connect(
    host=host,
    user=user,
    port=int(port),
    password=password
)

cursor = mydb.cursor()
cursor.execute("DROP DATABASE IF EXISTS jiohotstar_ads")
cursor.execute("CREATE DATABASE IF NOT EXISTS jiohotstar_ads")
cursor.execute("USE jiohotstar_ads")

cursor.execute("SHOW DATABASES")
databases = cursor.fetchall()


print([db[0] for db in databases])

['careconnect', 'guvi_sql_practice', 'india_agri', 'information_schema', 'jiohotstar_ads', 'myna_db', 'mysql', 'performance_schema', 'police_secure_check', 'portfolios', 'sakila', 'sys', 'world']

### Table creation

#### matches Tabel Creation

In [9]:
cursor.execute("USE jiohotstar_ads")

create_table_query = """
CREATE TABLE IF NOT EXISTS matches (
    match_id INT PRIMARY KEY,
    teams VARCHAR(255),
    location VARCHAR(255),
    match_type VARCHAR(100),
    winner VARCHAR(255),
    video_path VARCHAR(255),
    match_timestamp DATETIME NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)
"""

cursor.execute(create_table_query)
mydb.commit()
print("Table 'matches' created successfully.")

Table 'matches' created successfully.

In [6]:
cursor.execute("USE jiohotstar_ads")

In [12]:

cursor.execute("USE jiohotstar_ads")

insert_query = """
INSERT INTO matches (match_id, teams, location, match_type, winner, video_path, match_timestamp)
VALUES (%s, %s, %s, %s, %s, %s, %s)
"""

data = (
    1,
    'Team A vs Team B',
    'Stadium XYZ',
    'T20',
    'Team A',
    '/path/to/video.mp4',
    None # format: 'YYYY-MM-DD HH:MM:SS'
)


cursor.execute(insert_query, data)
mydb.commit()
print("Data inserted successfully.")

Data inserted successfully.